sagemaker
torch==2.0.1
bitsandbytes==0.41.1
datasets>=2.10.0,<3
py7zr
einops
tensorboardX
ipython
ipykernel
transformers>4.28.1
git+https://github.com/huggingface/peft
accelerate>=0.20.3,<1
cuda-python
xformers
nvidia-cublas-cu11
evaluate
unidecode
spacy
pandas